body{
  font-size:20px;
  font-family:"Arial","Meiryo",sans-serif;
  text-align:center;
}

.MYPROFILE{
  font-size:40px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 4px gray;
  border-bottom: solid 3px rgb(115, 115, 114);

}

.M{
  color:skyblue;
}

.P{
  color:rgb(255, 192, 203);
}


.pink{
  color:pink;
}


.skyblue{
  color:skyblue;
}

#basic p {
  font-weight:bold;
}